{% extends 'base.html' %}

{% block con %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1><b>정보수정</b></h1>

        <div class="mb-3 mt-5">
            <label class="form-label">USERNAME</label>
            <input type="text" value="{{user}}" disabled class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">EMAIL</label>
            <input type="text" name="umail" value="{{user.email}}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">COMMENT</label>
            <textarea name="ucomm" class="form-control">{{user.comment}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">USERPIC</label>
            <input type="file" name="upic" class="form-control">
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                PASSWORD UPDATE
            </button>
            <a href="{% url 'acc:profile' %}" class="btn btn-dark">BACK</a>
            <button class="btn btn-dark">UPDATE</button>
        </div>
    </form>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>PASSWORD UPDATE</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'acc:changepw' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="container mt-2 mb-2 text-center">
                            <input type="password" name="cpass" mb-2 placeholder="INPUT CURRENT PASSWORD" class="form-control">
                            <input type="password" name="npass" placeholder="INPUT NEW PASSWORD" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}