{% extends 'base.html' %}


{% block con %}

    <h1><b>BOOKMARK</b></h1>

    <div class="text-end">
        <a href="{% url 'book:create' %}" class="btn btn-dark">북마크 생성</a>
    </div>

    <div class="row">
        {% for i in bset %}
            <div class="col-sm-4 mt-4 text-center">
                <div class="card" {% if i.impo %} style="background-color: rgb(247, 247, 186);" {% endif %}>
                    <div class="card-body">
                    <h5 class="card-title">{{i.site_name}}</h5>
                    <p class="card-text">{{i.site_con}}</p>
                    <a href="{{i.site_url}}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}